@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Nunito&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Lexend Deca;
	font-weight: normal;
}
body {
	padding: 0 0;
	background-color: rgba(245,222,179,0.7);
	margin: 0 0;

	// &:hover{
	// 	cursor: url('../cursor_svg/pen-solid.svg') 16 16, auto;
	// }
}
nav {
	border: 3px solid black;
	h2 {
		padding-left: 7px;
		font-size: 2rem;
		background-color: rgb(251, 179, 153);
	}
}
section.main{
	display: flex;
}
div.canvas{
	display:flex;
	flex: 1 0 800px;
	// border: 3px solid red;
	justify-content: center;
	align-items: center;
	position: relative;

	canvas{
		position: absolute;
		background-color: white;
		border: black solid 3px;
		width: 700px;
		height: 500px;
		transform: none;
		display: block;

		#background{
			z-index:1;
		}
		#canva-area{
			z-index:1;
		}
	}
}

.tool-box {
	height: 92vh;
	// for <hr> to stay still
	position: relative;
	hr{
		position: absolute;
	}
	h4 {
		display: block;
		// width: 100%;
		// text-align: center; /* Centers the text */
	}
	right: 0;
	width: 300px;
	overflow-y: scroll;

	// background-color: wheat;
	border-left:5px solid #6c6c6c;
	display: flex;
	flex-direction: column;
	align-items: center; // for all the button to be in the center
}

.paint-tool {
	width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); 
    gap: 3px;
    justify-content: center;
}

.style-toop{
	margin-top: 20px;
	position: absolute;
	top: 375px; // for position
	display: flex;
	align-items: center;
	h5{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

#filled{
	transform: scale(1.25);
}

.btn-func{
	border: 2px solid black;
	padding: 3px;
	margin: 6px;
	background-color: white;
	display: flex;
	cursor: pointer;
	justify-content: center;
	i {
		font-size: 1.05rem;
		color : rgb(21, 15, 68);
		transition: all 0.21s ease;
		padding: 5px 5px;
		// &:hover{
		// 	font: bolder;
		// }
	}

	&:hover{
		background-color: #dfdfdf;
		border-radius: 20%;
	}
}

// color selector
.colorSelector{
	// the pop up selector
	position: relative;
}

.colorPreview{
	width: 40px;
	height: 40px;
	border: #6c6c6c 3px solid;
	border-radius: 50%;
	margin-top: 10px;
	transition: 0.3s all ease;

	// &:hover{
	// 	width: 50px;
	// 	height: 50px;
	// 	padding: 3px;
	// 	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	// }
}

.colorPanel{
	// first hide it
	display: none;
	position: absolute;
	top: 55px;
	left: 0;
	width: 250px;
	background: white;
	border: 2px solid #6c6c6c;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	// display: block;
}

.colorMap {
	border: 1.2px solid black;
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	background: linear-gradient(to top, black, rgba(0, 0, 0, 0)),
				linear-gradient(to right, white, rgba(255, 255, 255, 0));
	cursor: crosshair; // + for selecting color !
	position: relative;
}

.colorCursor {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
	pointer-events: none;
	// top: 50%; 
	// left: 50%;
	transform: translate(-50%, -50%);
}

.hueSlider{
	width: 100%;
	height: 10px;
	// create the gradient
	// background: linear-gradient(to right, red,magenta,orange, yellow, lime, cyan, blue,purple);
	background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
	cursor: pointer;
	position: relative;
	margin-bottom: 5px;
}

.hueCursor {
	margin-top: 5px;
	margin-left: 3px;
	background-color: white;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.hexInput {
	width: 100%;
	// padding: 5px;
	border: 1px solid #ccc;
	text-align: center;
}